<div ng-controller="Impersonator.User.Controller as vm">
  <umb-box ng-if="vm.isImpersonating && !vm.loadingUsers">
    <umb-box-content>
      <div class="mb2">
        <localize key="impersonator_impersonatingDescription"
          >You are impersonating the current user.</localize>
      </div>
      <div class="text-right">
        <umb-button
          type="button"
          action="vm.endImpersonation()"
          label-key="impersonator_endImpersonation"
          button-style="primary"
          state="vm.endImpersonationButtonState"
          ></umb-button>
        </div>
    </umb-box-content>
  </umb-box>
  <umb-box
    ng-if="vm.canImpersonateUsers && !vm.isImpersonating && !vm.loadingUsers"
  >
    <umb-box-content ng-if="vm.users.length > 0">
      <div class="flex">
        <select
          class="umb-dropdown flx-g1 mb0"
          ng-options="user as user.name for user in vm.users track by user.id"
          ng-model="vm.userToImpersonate"
        ></select>
        <umb-button
          type="button"
          action="vm.impersonateUser()"
          label-key="impersonator_impersonate"
          button-style="primary"
          state="vm.impersonateUserButtonState"
          disabled="!vm.userToImpersonate"
        ></umb-button>
      </div>
    </umb-box-content>
    <umb-box-content ng-if="vm.users.length <= 0">
      <div class="mb2">
        <localize key="impersonator_noUser">
          There are no active users to impersonate
        </localize>
      </div>
    </umb-box-content>
  </umb-box>
  <umb-box ng-if="!vm.canImpersonateUsers && !vm.isImpersonating && !vm.loadingUsers">
    <umb-box-content>
      <div class="mb2">
        <localize key="impersonator_notAdministrator">
          You need users administrator rights, to be able to impersonate another user.
        </localize>
      </div>
    </umb-box-content>
  </umb-box>
</div>
